<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.vutbr.fit.graph.sensoranalyzer"
    android:versionCode="1"
    android:versionName="0.1">
    
    <!-- 	
	RELEASE INFO:
	
	name:0.1 - code:1 - date:27.10.2011 - vyvojova verze
	 -->

    <uses-sdk android:minSdkVersion="4" />
    <uses-sdk android:targetSdkVersion="14" />
    
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.SET_ORIENTATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" >
        <activity android:label="@string/app_name" android:name=".activities.SensorAnalyzerActivity" android:configChanges="orientation|keyboardHidden|navigation">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
